
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}


.gallery img {
    display: block;
    max-width: 100%;
    height: auto;
    width: 360px;
    height: 200px;
}

.gallery {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
}

.gallery-item {
    width: 360px;
    height: 200px;
}

.sl-wrapper {
    background: rgba(46, 47, 66, 0.8);
}

.sl-image {
    width: 1112px;
    height: 640px;
}